*{ /*{}*/
    margin: 0;
    padding: 0;
}
body {  
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
}
main {
    margin: 32px 0;
}
main h2 {
    margin: 32px 0;
    font-weight: 300;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    color: #01528a;
}
section {
    margin-top: 64px;
}