#banner {
    position: relative;
    height: 550px;
    border: 1px solid #dcdceb;
    background: #fff;
    border-radius: 10px;
    color: #01528A;
    background-image: url('../../assets/img/background-house.png');
    background-repeat: no-repeat;
    background-position: right;
}
#banner h1 {
    margin: 60px 0 0 45px;
    font-weight: 300;
    font-size: 62px;
}
#banner h3 {
    margin-top: 16px;
    margin-left: 45px;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 32px;
}
#banner .banner-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 650px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0), #ffffff 50%);
}
#banner .banner-filter {
    background-color: #fff;
    border: 1px solid #dcdceb;
    border-radius: 10px;
    position: absolute;
    left: 100px;
    right: 100px;
    bottom: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 21px 43px rgba(8,137,212,0.1);
}
#banner .filter-fields {
    width: 100%;
    margin-right: 20px;
}
#banner .filter-fields form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:16px;
}
#banner .filter-result {
    border-left: 2px solid #0889d4;
    width: 80px;
    padding: 20px 20px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#banner .result-label {
    font-size: 12px;
    font-weight: 300;
    color: #989898;
}
#banner .result-value {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
#banner .filter-result button {
    background-color: #0889d4;
    margin-top: 16px;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
}
#banner .filter-fields select {
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 12px;
    font-weight: 300;
    line-height: 2;
    color: #212529;
    background-color: #f4f4f4;
    background-image: url('../../assets/img/arrow-select.svg');
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #f4f4f4;
    border-radius: .0;
    appearance: none;
}