#values .values-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
#values .values-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}
#values .values-content p {
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
}
#values .value-detail {
    padding: 32px;
}
#values .value-detail .value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#values .value-detail span {
    background-image: url('../../assets/img/bullet-values.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 24px;
    padding-top: 8px;
    padding-bottom: 8px;

    /* 
        padding: 8px 0px 8px 24px;
    */ 
}